<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Mon Application</a>
      <div class="navbar-nav ms-auto">
        <button class="btn btn-outline-success me-2">Se connecter</button>
        <button class="btn btn-outline-danger">Se déconnecter</button>
      </div>
    </div>
  </nav>

  <mat-toolbar color="primary">
    <mat-icon class="menu" (click)="sidenav.toggle()">menu</mat-icon>
  </mat-toolbar>

  <div class="sidebar-container" (click)="sidenav.close()" class="sidebar" [class.hidden]="!showSidebar">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="over" [fixedInViewport]="true">


        <mat-nav-list>
          <div class="container mb-15">
            <button type="button" class="close menu" aria-label="Close" (click)="toggleSidebar()"
              class=" text-danger border-none ">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="container mt-5">
            <a mat-list-item href="#"><span class="lien">Accueil</span> </a>
            <a mat-list-item href="#"><span class="lien">Gestion des poules</span> </a>

            <a mat-list-item href="#"><span class="lien">Gestion des oeufs</span> </a>
            <a mat-list-item href="#"><span class="lien">Gestion des ventes</span> </a>
            <a mat-list-item href="#"><span class="lien">Rapports</span> </a>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <div class="main-content ">
        <carousel [interval]="3000" [showIndicators]="true">
          <slide>
            <img src="../assets/images/carousel-img1.jpg" alt="image 1" class="d-block mx-auto" style="height: 390px;">
          </slide>
          <slide>
            <img src="../assets/images/carousel-img2.jpg" alt="image 2" class="d-block mx-auto" style="height: 390px;">
          </slide>
          <slide>
            <img src="../assets/images/carousel-img3.jpg" alt="image 3" class="d-block mx-auto" style="height: 390px;">
          </slide>
        </carousel>
      </div>

    </mat-sidenav-container>
  </div>



</body>

</html>