<router-outlet></router-outlet>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oeufs</title>
    <link rel="stylesheet" href="depenses.component.css">
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">PoultryTracker</a>
            <div class="navbar-nav ms-auto">
                <button class="btn btn-outline-danger" routerLink="/login">Déconnexion</button>
            </div>
        </div>
    </nav>

    <mat-toolbar style="background-color: #1709d2; width:100%">
        <!-- <mat-icon class="menu" (click)="sidenav.toggle()">menu</mat-icon> -->
        <nav class="nav">
            <a class="nav-link active" routerLink="/login/accueil" style="color:white; font-size: medium;">
                <i class="bi bi-house-door"></i> Accueil
            </a>
        </nav>
        <span style="margin-left: 30%;">PAGE DES DEPENSES </span>
    </mat-toolbar>
    <ng-template #errors>
        <span class="text-danger">{{errorMessage}} </span>
    </ng-template>

    <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchDepense()">
        <div class="input-group">
            <label class="input-group-text">Taper ici</label>
            <input type="text" name="" id="" class="form-control" placeholder="saisir un mot clé..."
                formControlName="motCle">
            <button class="btn btn-info"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <p></p>
    <main>

        <table class="table table-bordered table-striped table-light table-hover text-center table-responsive">
            <thead class="table-dark ">
                <tr class="table-secondary ">
                    <th scope="col">Id</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Date</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody *ngIf="depenses; else errors">
                <tr *ngFor='let d of depenses' class="table-dark">
                    <th scope="row"> {{d.id}} </th>
                    <td>{{d.libelle}} </td>
                    <td>{{d.montant}} </td>
                    <td>{{d.date}} </td>
                    <td>{{d.auteur}}</td>
                    <td><button class="btn btn-warning " (click)="handleEditDepense(d)"><i
                                class="bi bi-pencil bi-white"></i></button></td>
                    <td><button class="btn btn-danger" (click)="handleDeleteDepense(d)"><i
                                class="fas fa-trash-alt"></i></button></td>
                </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li *ngFor="let item of [].constructor(this.totalPages); let i = index">
                <a (click)="goToPage(i)" [ngClass]="i == currentPage?'btn-info':'btn-outline-info'"
                    class="btn  ms-1 mt-1 ">{{i}}</a>
            </li>
        </ul>
        <div class="mt-3 mb-3">
            <div class="container">
                <button class="btn btn-success" (click)="handleNewDepense()">+ AJOUTER</button>
            </div>
        </div>
    </main>
</body>

</html>