<router-outlet>

</router-outlet>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modif-mot-de-passe.component.css">
    <title>Connexion</title>
</head>

<body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#" style="font-weight: 600;">PoultryTracker</a>
            <!-- <div class="navbar-nav ms-auto">
        <button class="btn btn-outline-danger">Déconnexion</button>
      </div> -->
        </div>
    </nav>

    <!-- <mat-toolbar style="background-color: #1709d2; width:100%">
    <mat-icon class="menu" (click)="sidenav.toggle()">menu</mat-icon>
    <nav class="nav">
     <span style="position:absolute; right:45%; top: 75px;">AUTHENTIFICATION</span>
    </nav>
  </mat-toolbar> -->
    <ng-template #errors>
        <span class="text-danger">{{errorMessage}} </span>
    </ng-template>
    <main class="mt-3">
        <div class="container  d-flex align-items-center justify-content-center" style="height: 80vh;">
            <form action="" method="post" [formGroup]="setFormGroup" (ngSubmit)="handleSetPassword()">
                <div class="mb-3 mt-3">
                    <span class="text-white" style="font-weight: bold; font-size:x-large;">MODIFICATION DE MOT DE PASSE</span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-white" style="font-weight: 600;">E-mail</label>
                    <input type="email" class="form-control" formControlName="email" id="email">
                    <small *ngIf="setFormGroup.controls['email'].errors && setFormGroup.controls['email'].touched"
                        class="text-danger">
                        {{authService.getErrorMessage('E-mail', setFormGroup.controls['email'].errors)}}
                    </small>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label text-white" style="font-weight: 600;">Identifiant</label>
                    <input type="text" class="form-control" formControlName="username" id="username" max="10" required>
                    <div id="emailHelp" class="form-text text-warning" style="font-size: smaller;">Votre identifiant est
                        privé et ne sera pas diffusé.</div>
                    <small *ngIf="setFormGroup.controls['username'].errors && setFormGroup.controls['username'].touched"
                        class="text-danger">
                        {{authService.getErrorMessage('Identifiant', setFormGroup.controls['username'].errors)}}
                    </small>
                </div>
                <div class="mb-3">
                    <label for="Password1" class="form-label text-white" style="font-weight: 600;">Mot de passe</label>
                    <input type="password" class="form-control" formControlName="password" id="Password1">
                    <small *ngIf="setFormGroup.controls['password'].errors && setFormGroup.controls['password'].touched"
                        class="text-danger">
                        {{authService.getErrorMessage('Mot de passe', setFormGroup.controls['password'].errors)}}
                    </small>
                </div>
                <div class="mb-3">
                    <label for="Password1" class="form-label text-white" style="font-weight: 600;">Conformer votre mot
                        de passe</label>
                    <input type="password" class="form-control" formControlName="passwordConf" id="Password1">
                    <small class="text-danger" *ngIf="!passwordIsCorrect()">
                        les mots de passe ne sont pas identiques
                    </small>
                </div>

                <!-- <div>
            <span>{{formGroup.value.identifiant}}</span>
            <span>{{formGroup.value.motDePasse}}</span>

          </div> -->
                <button type="submit" class="btn btn-success text-center"
                    [disabled]="!setFormGroup.valid && !passwordIsCorrect()">Connexion</button>
            </form>
        </div>
    </main>
</body>

</html>